<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SignToolTool.SignToolTool" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SignToolTool.SignToolTool>
            <setting name="SignToolPath" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeStampAuthority" serializeAs="String">
                <value>http://timestamp.sectigo.com</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PositionSet" serializeAs="String">
                <value>False</value>
            </setting>
        </SignToolTool.SignToolTool>
    </userSettings>
</configuration>